@import 'tailwindcss';
@import 'bootstrap';
@import 'bootstrap/dist/css/bootstrap.min.css';
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}
/*
 vista app
 */
 /* Centrado de toda la aplicación */
body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f4f6f9;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-size: cover;
  background-position: center;

}
/* Estilo del título principal */
.titulo-principal {
  font-size: 2.5rem;
  color: #000000;
  text-align: center;
  margin-bottom: 1.5rem;
  font-weight: bold;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}

.router-link-active {
  border: 2px solid #fff;
}

/* Centrado vertical y horizontal del body */
body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-image: url('/images/fondo.jpg'); /* Ajusta la ruta según tu proyecto */
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Segoe UI', sans-serif;
}

/* Contenedor principal */
.container {
  background: linear-gradient(135deg, #b0c8ed, #ad91e2); /* Azul a morado */
  color: rgb(13, 13, 13);
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.15);
  max-width: 700px;
  width: 100%;
  box-sizing: border-box;
}


